#root {
  // max-width: 1280px;
  // position: absolute;
  // margin-top: 5%;
}

.all {
  // border: red solid 5px;
  // width: 50%;
  margin-top: 5%;
}

.home {
  position: static;
}

.links {
  margin-top: 1em;
  max-width: 90vw;
  nav{
    width: 90vw;
  }
}